swagger: "2.0"
info:
  description: "Project on Github : [python-OpenStack-HybridCloud](https://github.com/PAPAMICA/python-OpenStack-HybridCloud)"
  version: "1.0.0"
  title: "Swagger Hybridcloud"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "mickael@papamica.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "hybridcloud.papamica.com"
basePath: ""
tags:
- name: "cloud"
  description: "Actions on cloud elements"
schemes:
- "https"
paths:
  /api/list/instances/{cloud_name}:
    get:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "Get instances of the selected cloud"
      description: ""
      operationId: "getCloudByName"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud to get infos "
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "Cloud not found"

  /api/list/resources/{cloud_name}:
    get:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "list resources of the selected cloud from database"
      description: ""
      operationId: "getResByCloud"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud to get infos"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "Cloud not found"

  /api/update/resources/{cloud_name}:
    get:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "update resources database"
      description: ""
      operationId: "updateResByCloud"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud to get infos"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "Cloud not found"

  /api/{cloud_name}/{server_name}:
    get:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "Get informations about an instance"
      description: ""
      operationId: "getInstanceByName"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud on which to create instance"
        required: true
        type: "string"
      - name: "server_name"
        in: "path"
        description: "The cloud on which to create instance"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"
    delete:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "Delete an instance"
      description: ""
      operationId: "deleteInstanceByName"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud on which to create instance"
        required: true
        type: "string"
      - name: "server_name"
        in: "path"
        description: "The cloud on which to create instance"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/new_keypair:
    post:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "Create new keaypair"
      description: ""
      operationId: "createKeyPair"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud on which to create key pair"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "The name of the key pair to create"
        required: true
        schema:
          $ref: "#/definitions/keypair"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/networks:
    get:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "Get cloud networks"
      description: ""
      operationId: "getNetworksByCloud"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud wanted"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/security_groups:
    get:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "Get cloud security groups"
      description: ""
      operationId: "getSecurityGroupsByCloud"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud wanted"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/images:
    get:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "Get cloud images"
      description: ""
      operationId: "getImagesByCloud"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud wanted"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/flavors:
    get:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "Get cloud flavors"
      description: ""
      operationId: "getFlavorsByCloud"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud wanted"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/new_instance:
    post:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "Create a new instance"
      description: ""
      operationId: "createInstance"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud where to create instance"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Infos about instance"
        required: true
        schema:
          $ref: "#/definitions/new_instance"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/{server_name}/start:
    get:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "Start an instance"
      description: ""
      operationId: "StartInstance"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The target cloud"
        required: true
        type: "string"
      - name: "server_name"
        in: "path"
        description: "The server to start"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/{server_name}/stop:
    get:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "Stop an instance"
      description: ""
      operationId: "StopInstance"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The target cloud"
        required: true
        type: "string"
      - name: "server_name"
        in: "path"
        description: "The server to stop"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/{server_name}/reboot:
    get:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "Reboot an instance"
      description: ""
      operationId: "RebootInstance"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The target cloud"
        required: true
        type: "string"
      - name: "server_name"
        in: "path"
        description: "The server to reboot"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/keypairs:
    get:
      security:
        - key: []
      tags:
      - "cloud"
      summary: "Get keypairs"
      description: ""
      operationId: "getKeypairs"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The target cloud"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

securityDefinitions:
  key:
    security:
        - key: []
    type: apiKey
    in: query
    name: api_key

definitions:
  keypair:
    type: "object"
    properties:
      key_pair:
        type: "string"
  new_instance:
    type: "object"
    properties:
      instance_name:
        type: "string"
      instance_image:
        type: "string"
      instance_flavor:
        type: "string"
      instance_network:
        type: "string"
      instance_keypair:
       type: "string"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
