swagger: "2.0"
info:
  description: "This is a sample server Petstore server.  You can find out more about     Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).      For this sample, you can use the api key `special-key` to test the authorization     filters."
  version: "1.0.0"
  title: "Swagger Hybridcloud"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "hybridcloud.papamica.com"
basePath: ""
tags:
- name: "cloud"
  description: "Actions on cloud elements"
schemes:
- "https"
paths:
  /api/list/{cloud_name}:
    get:
      tags:
      - "cloud"
      summary: "Get informations about the selected cloud"
      description: ""
      operationId: "getCloudByName"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud to get infos "
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "Cloud not found"

  /api/{cloud_name}/{server_name}:
    get:
      tags:
      - "cloud"
      summary: "Get informations about an instance"
      description: ""
      operationId: "getInstanceByName"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud on which to create instance"
        required: true
        type: "string"
      - name: "server_name"
        in: "path"
        description: "The cloud on which to create instance"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"
    delete:
      tags:
      - "cloud"
      summary: "Delete an instance"
      description: ""
      operationId: "deleteInstanceByName"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud on which to create instance"
        required: true
        type: "string"
      - name: "server_name"
        in: "path"
        description: "The cloud on which to create instance"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/new_keypair:
    post:
      tags:
      - "cloud"
      summary: "Get informations about an instance"
      description: ""
      operationId: "createKeyPair"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud on which to create key pair"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "The name of the key pair to create"
        required: true
        schema:
          $ref: "examples.json#/keypair"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/networks:
    get:
      tags:
      - "cloud"
      summary: "Get cloud networks"
      description: ""
      operationId: "getNetworksByCloud"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud wanted"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/security_groups:
    get:
      tags:
      - "cloud"
      summary: "Get cloud security groups"
      description: ""
      operationId: "getSecurityGroupsByCloud"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud wanted"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/images:
    get:
      tags:
      - "cloud"
      summary: "Get cloud images"
      description: ""
      operationId: "getImagesByCloud"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud wanted"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/flavors:
    get:
      tags:
      - "cloud"
      summary: "Get cloud flavors"
      description: ""
      operationId: "getFlavorsByCloud"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud wanted"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/new_instance:
    post:
      tags:
      - "cloud"
      summary: "Create a new instance"
      description: ""
      operationId: "createInstance"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The cloud where to create instance"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Infos about instance"
        required: true
        schema:
          $ref: "examples.json#/new_instance"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/{server_name}/start:
    get:
      tags:
      - "cloud"
      summary: "Start an instance"
      description: ""
      operationId: "StartInstance"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The target cloud"
        required: true
        type: "string"
      - name: "server_name"
        in: "path"
        description: "The server to start"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/{server_name}/stop:
    get:
      tags:
      - "cloud"
      summary: "Stop an instance"
      description: ""
      operationId: "StopInstance"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The target cloud"
        required: true
        type: "string"
      - name: "server_name"
        in: "path"
        description: "The server to stop"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

  /api/{cloud_name}/{server_name}/reboot:
    get:
      tags:
      - "cloud"
      summary: "Reboot an instance"
      description: ""
      operationId: "RebootInstance"
      produces:
      - "application/json"
      - "application/xml"
      parameters:
      - name: "cloud_name"
        in: "path"
        description: "The target cloud"
        required: true
        type: "string"
      - name: "server_name"
        in: "path"
        description: "The server to reboot"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
        "404":
          description: "not found"

securityDefinitions:
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Order:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      petId:
        type: "integer"
        format: "int64"
      quantity:
        type: "integer"
        format: "int32"
      shipDate:
        type: "string"
        format: "date-time"
      status:
        type: "string"
        description: "Order Status"
        enum:
        - "placed"
        - "approved"
        - "delivered"
      complete:
        type: "boolean"
        default: false
    xml:
      name: "Order"
  Category:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
    xml:
      name: "Category"
  User:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      username:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"
      phone:
        type: "string"
      userStatus:
        type: "integer"
        format: "int32"
        description: "User Status"
    xml:
      name: "User"
  Tag:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
    xml:
      name: "Tag"
  Pet:
    type: "object"
    required:
    - "name"
    - "photoUrls"
    properties:
      id:
        type: "integer"
        format: "int64"
      category:
        $ref: "#/definitions/Category"
      name:
        type: "string"
        example: "doggie"
      photoUrls:
        type: "array"
        xml:
          name: "photoUrl"
          wrapped: true
        items:
          type: "string"
      tags:
        type: "array"
        xml:
          name: "tag"
          wrapped: true
        items:
          $ref: "#/definitions/Tag"
      status:
        type: "string"
        description: "pet status in the store"
        enum:
        - "available"
        - "pending"
        - "sold"
    xml:
      name: "Pet"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
