<!DOCTYPE html>


<html>
<head>
  <meta charset="utf-8">
  <title>HybridCloud</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <div class="login-root">

    
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1><a href="https://papamica.com" rel="dofollow">HybridCloud</a></h1>
        </div>
        <div class="formbg-outer">
          <div class="row">
            <div class="column-3">
              <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                  <span class="padding-bottom--15"><h2 class="center">List instances</h2></span>
                  <form id="stripe-login" method="post">
                    <div class="row">
                      <div class="column-3 cote">
                        <h3 class="center">LOCAL</h3>
                      </div>
                      <div class="column-3 milieux">
                        <div class="switch">
                          <input type="checkbox" name="cloud" id="checkbox1" value="Infomaniak">
                          <label for="checkbox1"></label>
                        </div>
                      </div>
                      <div class="column-3 cote">
                        <h3 class="center">PUBLIC</h3>
                      </div>
                    </div>
                    
                    <div class="field padding-bottom--24">
                      <input type="submit" name="submit" value="Confirmer">
                    </div>
                  </div>
                  </form>
                </div>
              </div>
              <div class="column-3">
                <div class="formbg">
                  <div class="formbg-inner padding-horizontal--48">
                    <span class="padding-bottom--15"><h2 class="center">List ressources</h2></span>
                    <form id="stripe-login" method="post">
                      <div class="row">
                        <div class="column-3 cote">
                          <h3 class="center">LOCAL</h3>
                        </div>
                        <div class="column-3 milieux">
                          <div class="switch">
                            <input type="checkbox" name="cloud" id="checkbox2">
                            <label for="checkbox2"></label>
                          </div>
                        </div>
                        <div class="column-3 cote">
                          <h3 class="center">PUBLIC</h3>
                        </div>
                      </div>
                      
                      <div class="field padding-bottom--24">
                        <input type="submit" name="submit" value="Confirmer">
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
                <div class="column-3">
                  <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                      <span class="padding-bottom--15"><h2 class="center">Create instance</h2></span>
                      <form id="stripe-login" method="post">
                        <div class="row">
                          <div class="column-3 cote">
                            <h3 class="center">LOCAL</h3>
                          </div>
                          <div class="column-3 milieux">
                            <div class="switch">
                              <input type="checkbox" name="cloud" id="checkbox3">
                              <label for="checkbox3"></label>
                            </div>
                          </div>
                          <div class="column-3 cote">
                            <h3 class="center">PUBLIC</h3>
                          </div>
                        </div>
                        
                        <div class="field padding-bottom--24">
                          <input type="submit" name="submit" value="Confirmer">
                        </div>
                      </div>
                      </form>
                    </div>
                  </div>
            </div>
          </div>
          {% if instances %}
          <div class="container-fluid py-4">
            <div class="row">
              <div class="col-12">
                <div class="card mb-4">
                  <div class="card-header pb-0">
                    <h6>Liste des instances</h6>
                  </div>
                  <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                      <table class="table align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">IP</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Image</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Keypair</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Network</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Security Group</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          {%for instance in instances%}
                          <tr>
                            <td>
                              <div class="d-flex px-2 py-1">
                                <div>
                                  <img src="{{ url_for('static', filename='img/IPC.png') }}" class="avatar avatar-sm me-3" alt="user1">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                  <h6 class="mb-0 text-sm">{{ instance }}</h6>
                                </div>
                              </div>
                            </td>
                            {% if instances[instance]['Status'] == "ACTIVE" %}
                            <td class="align-middle text-center text-sm">
                              <span class="badge badge-sm bg-gradient-success">Online</span>
                            </td>
                            {% else %}
                            <td class="align-middle text-center text-sm">
                              <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                            </td>
                            {% endif %}
                            <td>
                              <p class="text-xs font-weight-bold mb-0">{{ instances[instance]['IP'] }}</p>
                            </td>
                            <td>
                              <p class="text-xs font-weight-bold mb-0">{{ instances[instance]['Image'] }}</p>
                            </td>
                            <td>
                              <p class="text-xs font-weight-bold mb-0">{{ instances[instance]['Keypair'] }}</p>
                            </td>
                            <td>
                              <p class="text-xs font-weight-bold mb-0">{{ instances[instance]['Network'] }}</p>
                            </td>
                            <td>
                              <p class="text-xs font-weight-bold mb-0">{{ instances[instance]['Security_groups'] }}</p>
                            </td>
                            <td>
                              <div class="d-flex px-2 py-1 outer">
                                
                                <form class="d-flex two" method="post" action="/">
                                  <div class="form-group one">
                                    <input type="submit" name="start" value="{{ instance }}"/>
                                    <input type="hidden" name="cloud_name" value="{{ cloud_name }}"/>
                                  </div>
                                  <div class="form-group one">
                                    <input type="submit" name="reboot" value="{{ instance }}"/>
                                    <input type="hidden" name="cloud_name" value="{{ cloud_name }}"/>
                                  </div>
                                  <div class="form-group one">
                                    <input type="submit" name="stop" value="{{ instance }}"/>
                                    <input type="hidden" name="cloud_name" value="{{ cloud_name }}"/>
                                  </div>
                                  <div class="form-group one">
                                    <input type="submit" name="destroy" value="{{ instance }}"/>
                                    <input type="hidden" name="cloud_name" value="{{ cloud_name }}"/>
                                  </div>
                              </form>
                              </div>
                            </td>
                          </tr>
                          {%endfor%}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

      </div>
    </div>
  </div>
</body>

</html>